# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/


# Dane i modele
*.json.bak
*.bin
*.pt
*.safetensors
anon-v3a/


# Streamlit
.streamlit/secrets.toml

# Zmienne środowiskowe
.env
.env.*
!.env.example

# Logi
*.log
logs/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
